DATABASE_URL=sqlite+aiosqlite:///evalyn.db
SECRET_KEY=dev-secret-key-123
GROQ_API_KEY=**********************************
FRONTEND_URL=http://localhost:3001


# Social Media Integrations
INDEED_CLIENT_ID=
INDEED_CLIENT_SECRET=
INDEED_REDIRECT_URL=http://localhost:3000/callback


LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_REDIRECT_URI=